<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="4" offset-md="2">
      <ion-item routerLink="/explore/openings">Chess Openings</ion-item>

    </ion-col >
    <ion-col size-md="4" offset-md="0">
      <ion-item routerLink="/explore/chesslegends">Chess Legends</ion-item>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="4" offset-md="2">
      <ion-item>Orientation Test</ion-item>

    </ion-col>
    <ion-col size-md="4" offset-md="0">
      <ion-item>Personality Test</ion-item>

    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
