<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Learn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="2">
        <ion-item >How To Play</ion-item>
  
      </ion-col>
      <ion-col size-md="4" offset-md="0">
        <ion-item >Opening Traps</ion-item>
  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="4" offset-md="2">
        <ion-item routerLink="/learn/matingpatterns">Mating Patterns</ion-item>
  
      </ion-col>
      <ion-col size-md="4" offset-md="0">
        <ion-item>Online Courses</ion-item>
  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
