<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Chess Legends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ======= Chess Legends Main Menu Section ======= -->
  <section id="chesslegendsmenu" class="section-bg">
    <div class="container">

      <header class="section-header">
        <div class="quote2">
          <blockquote >If I have seen further than others, it is by standing upon the shoulders of giants. <br><i>-Isaac Newton</i></blockquote>
        </div>
        <p>In chess, forethought is extremely important. Learning from chess masters from the past and the present is a great way to improve your understanding of chess.</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            
            <img src="../assets/images/players/garry2.jpg" class="chesslegends-img">
          
              <br>
            <h4 class="title"><a routerLink="/explore/chesslegends/worldchampions" >World Champions</a></h4>
            <p class="description">Discover all official World Champions</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box dark">
            <div><img src="../assets/images/players/pragg2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Prodigies</a></h4>
            <p class="description">Young and brilliant</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box dark">
            <div><img src="../assets/images/players/magnus2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="todaychessstars.html">Chess Stars of Today</a></h4>
            <p class="description">The best chess players in the world today </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div><img src="../assets/images/players/tarrasch2.png" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a routerLink="/otherlegends">Chess Legends</a></h4>
            <p class="description">Other famous chess personalities</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
</ion-content>
