<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/explore/chesslegends"></ion-back-button>
    </ion-buttons>
    <ion-title>World Champions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="chesslegendsmenu" class="section-bg">
    <div class="container">
  
     
  
      <div class="row">
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2">
              <div><img src="../assets/images/players/Steinitz2.jpg" class="chesslegends-img" alt=""></div>
              <br>
            <h4 class="title"><a href="">Wilhelm Steinitz </a></h4>
            <p class="description">(1886-1894)</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/lasker2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Emanuel Lasker</a></h4>
            <p class="description">(1894-1921)</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/players/capablanca2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Jose Raul Capablanca</a></h4>
            <p class="description">(1921-1927) </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/alekhine2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Alexander Alekhine</a></h4>
            <p class="description">(1927-1935, 1937-1946)</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/euwe2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Max Euwe</a></h4>
            <p class="description">(1935-1937)</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/players/botvinnik2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Mikhail Botvinnik</a></h4>
            <p class="description">('48-'57, '58-'60, '61-'63) </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/smyslov2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Vasily Smyslov</a></h4>
            <p class="description">(1957-1958)</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2">
              <div><img src="../assets/images/players/tal2.png" class="chesslegends-img" alt=""></div>
              <br>
            <h4 class="title"><a href="">Mikhail Tal </a></h4>
            <p class="description">(1960-1961)</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/players/petrosian2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Tigran Petrosian</a></h4>
            <p class="description">(1963-1969)</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/spassky2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Boris Spassky</a></h4>
            <p class="description">(1969-1972) </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/players/fischer2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Robert James Fischer</a></h4>
            <p class="description">(1972-1975)</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/karpov2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Anatoly Karpov </a></h4>
            <p class="description">(1975-1985)</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/garry2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a routerLink="/playerdetail">Garry Kasparov</a></h4>
            <p class="description">(1985-2000) </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/players/kramnik2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Vladimir Kramnik</a></h4>
            <p class="description">(2000-2007)</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/anand2.jpeg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Viswanathan Anand</a></h4>
            <p class="description">(2007-2013) </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/players/magnus2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Magnus Carlsen</a></h4>
            <p class="description">(2013-current)</p>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>

</ion-content>
