<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Openings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <section id="chesslegendsmenu" class="section-bg">
    <div class="container">
  
      
      <div class="row">
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2">
              <div><img src="../assets/images/openings/spain.png" class="chesslegends-img" alt=""></div>
              <br>
            <h4 class="title"><a routerLink="/openingsdetail" >Ruy Lopez </a></h4>
            <p class="description">1. e4 e5 2. Nf3 Nc6 3. Bb5</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/openings/italy.png" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Italian Game</a></h4>
            <p class="description">1. e4 e5 2. Nf3 Nc6 3. Bc4</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/openings/france.png" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">French Defense</a></h4>
            <p class="description">1. e4 e6 </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/openings/sicily.png" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Sicilian Defense</a></h4>
            <p class="description">1. e4 c5</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/openings/scotland.png" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Scottisch Game</a></h4>
            <p class="description">1. e4 e5 2. d4</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/openings/england.png" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href=""> English Opening </a></h4>
            <p class="description">1. c4 e5 </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/openings/scandinavia.png" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Scandinavian Defence</a></h4>
            <p class="description">1. e4 d5</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2">
              <div><img src="../assets/images/openings/netherlands.png" class="chesslegends-img" alt=""></div>
              <br>
            <h4 class="title"><a href="">Dutch Defence </a></h4>
            <p class="description">1. d4 f5</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2">
            <div><span class="fa fa-crown"></span></div>
            <br>
            <h4 class="title"><a href="">Queen's Gambit</a></h4>
            <p class="description">1. d4 d5 2. c4</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/openings/pirc2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Pirc Defence</a></h4>
            <p class="description">1. e4 d6 2. d4 Nf6 3. Nc3</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/openings/caro2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Caro-Kann</a></h4>
            <p class="description">1. e4 c6</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><span class="fa fa-chess-king"></span></div>
            <br>
            <h4 class="titledark"><a href="">King's Gambit </a></h4>
            <p class="description">1. e4 e5 2. f4</p>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/benko2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="garry.html">Benko Gambit</a></h4>
            <p class="description">1. d4 Nf6 2. c4 c5 3. d5 b5 </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/openings/kramnik2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Benoni </a></h4>
            <p class="description">1. d4 Nf6 2. c4 c5 3. d5 e6</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2 dark">
            <div><img src="../assets/images/players/alekhine2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="titledark"><a href="">Alekhine Defence </a></h4>
            <p class="description">1. e4 Nf6 </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box2">
            <div><img src="../assets/images/players/reti2.jpg" class="chesslegends-img" alt=""></div>
            <br>
            <h4 class="title"><a href="">Reti</a></h4>
            <p class="description">1. Nf3</p>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  
    
  
  
</ion-content>
